user nginx;
worker_processes  1;

error_log /var/log/nginx/error.log warn;
pid /var/run/nginx.pid;

events {
    worker_connections  1024;
}

stream {
    server {
        {{- if (eq (toLower (getenv "PROTOCOL")) "udp") }}
        listen {{ getenv "LISTEN" }} udp;
        {{- if (not (eq (toLower (getenv "PROXY_RESPONSES")) "")) }}
        proxy_responses {{ getenv "PROXY_RESPONSES" }};
        {{- end }}
        {{- else }}
        listen {{ getenv "LISTEN" }};
        {{- end }}
        proxy_pass backends;
    }
    upstream backends {
        {{- $url := split (getenv "UPSTREAM") "," }}
        {{- range $url }}
        server {{ . }};
        {{- end }}
    }
}
